h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  color: #2c3e50;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}


input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #2c3e50;
  padding: 10px 0;
  outline: none;
  color: inherit;
  &:focus {
    border-color: #f6a622;
  }
  &::placeholder {
    font-family: inherit;
    color: #2c3e50;
  }
}
